<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="project_portfolio_user">
	<!-- 회원가입_join -->
	<insert id="user_Join" parameterType="com.test.been.UserBean">
		insert into user
			   (user_idx,
			    user_id,
			    user_pw,
			    user_pw_check,
			    user_name,
			    user_birth_year,
			    user_birth_month,
			    user_birth_day,
			    user_gender,
			    user_email,
			    user_date
			    )
		values(#{user_idx},
			   #{user_id}, 
			   #{user_pw}, 
			   #{user_pw_check}, 
			   #{user_name}, 
			   #{user_birth_year}, 
			   #{user_birth_month}, 
			   #{user_birth_day}, 
			   #{user_gender}, 
			   #{user_email},  
			   sysdate()
			  )
	</insert>
	
	<!-- 로그인_login -->
	<select id="user_Login"	resultType="com.test.been.UserBean">
		select * 
		from user
		where user_id = #{user_id} and
			  user_pw = #{user_pw}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="join_Update" parameterType="com.test.been.UserBean">
		update
			user
		set
			user_pw = #{user_pw},
			user_pw_check = #{user_pw_check}
		where
			user_idx = #{user_idx}
	</update>
	
	<!-- 사용자 정보를 가져오기 - 회원정보수정등에 사용을 위해 -->
	<select id="getUserInfo" parameterType="java.lang.Integer"
		    resultType="com.test.been.UserBean">
		select user_idx,
			    user_id,
			    user_pw,
			    user_pw_check,
			    user_name,
			    user_birth_year,
			    user_birth_month,
			    user_birth_day,
			    user_gender,
			    user_email,
			    user_date
		from user
		where user_idx = #{user_idx}
	</select>
	
	<!-- 회원탈퇴_삭제 -->	
	<delete id="user_Delete" parameterType="com.test.been.UserBean">
		delete from user
		where user_id = #{user_id}
	</delete>
	
	 <!-- ID 중복 체크 -->
	<select id="id_Check" resultType="int">
		SELECT 
			count(user_id)
		FROM 
			user
		WHERE 
			user_id = #{user_id}
	</select>

	
</mapper>						